/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf5340_cpuapp_qkaa.dtsi>
#include "nrf5340_cpuapp_common.dts"

/ {
	model = "NVLTech W53 NRF5340 Application";
	compatible = "w53-cpuapp";

	chosen {
		zephyr,sram = &sram0_image;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,sram-secure-partition = &sram0_s;
		zephyr,sram-non-secure-partition = &sram0_ns;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			/* Lower right */
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW1 key";
		};
		button1: button_1 {
			/* Upper right */
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW2 key";
		};
		button2: button_2 {
			/* Upper left */
			gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW3 key";
		};
	};

	board_inputs {
		/* TODO: maybe change compatible ? */
		compatible = "gpio-keys";
		chg_state: chg_state {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Battery charging indicator (output from charger)";
			/* Shared with SW1 */
		};
		usb_cc1: usb_cc1 {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "USB-C CC1 (cable orientation) signal";
		};
		imu_irq: imu_irq {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "IMU Interrupt signal";
		};
	};

	board_outputs {
		/* TODO: maybe change compatible ? */
		compatible = "gpio-leds";
		batmon_en: batmon_en {
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			label = "Battery volt. divider enable";
		};
		periph_en: periph_en {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "Peripheral VDD bus enable";
		};
		motor: motor {
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			label = "Haptics (vibration) driver PWM";
		};
		disp_led: disp_led {
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			label = "Backlight led control";
		};
	};

	board_pwm {
		compatible = "pwm-leds";
		hapt_pwm: hapt_pwm {
			pwms = <&pwm0 26>;
			label = "Haptics (vibration) driver PWM";
		};
	};

   	vbatt {
   		compatible = "voltage-divider";
   		io-channels = <&adc 7>; /* GPIO 0:28 */
   		output-ohms = <10000>;
   		full-ohms = <(10000 + 10000)>;
   		power-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
   	};

	aliases {
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		usbd0 = &usbd;
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	sck-pin = <40>;				/* P1.08 */
	miso-pin = <45>;			/* P1.13 */
	mosi-pin = <38>;			/* P1.06 */

	cs-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>, /* Display */
				<&gpio0 29 GPIO_ACTIVE_LOW>; /* IMU */

	ls0xx@0 {
		compatible = "sharp,ls0xx";
		label = "LS013B7DH03";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <128>;
		height = <128>;
		extcomin-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
		extcomin-frequency = <60>;
		disp-en-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
	};

	bmx160@1 {
		/* BMX160 seems to be register-compatible with BMI160 */
		compatible = "bosch,bmi160";
		label = "BMX160";
		reg = <1>;
		spi-max-frequency = <2000000>;
		int-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
	};
};

&usbd {
	compatible = "nordic,nrf-usbd";
	/* status = "okay"; */
};
